<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Teste Mente Magra</title>

  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.min.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.7.1/dist/vuetify.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.7.1/dist/vuetify.min.js"></script>
</head>

<body>
  <div id="app">
    <v-app>

      <v-container style="padding: 0px;">
        <!--  <v-col cols="12">
           <v-card>
           <v-img
              src="https://media.licdn.com/dms/image/C4E16AQFNiisnXfdWrQ/profile-displaybackgroundimage-shrink_350_1400/0/1656328382114?e=1712793600&v=beta&t=m2xpF4PfzswHMI8P8vqylXo-F4G7MBoc53oDOUdXQ_U"></v-img> 
          </v-card>
        </v-col> -->
        <v-col cols="12">
          <v-form v-model="form.valid">
            <v-container>
              <v-row v-for="(question, index) in form.questions" :key="index" class="mt-1">
                <v-col class="mt-0">
                  <v-card color="grey lighten-4" class="mt-0">
                    <v-container fluid>
                      <v-card-text style="font-size: 18px; color:#303030">
                        {{ index + 1 }}) {{ question.question }}
                      </v-card-text>
                      <v-radio-group v-model="form.answers[index]" class="ml-6">
                        <v-radio v-for="(answer, index) in question.answers" :key="index" :label="answer.text"
                          :value="answer">
                        </v-radio>
                      </v-radio-group>
                    </v-container>
                  </v-card>
                </v-col>
              </v-row>

              <v-btn @click="submitForm" :disabled="isDisabled()" class="mt-4" color="green">
                {{ form.loading ? 'Enviando...' : 'Enviar' }}
              </v-btn>

              <v-progress-circular v-if="form.loading" indeterminate color="primary"></v-progress-circular>
              <v-icon v-if="form.successMessage" color="green darken-2">mdi-checkbox-marked-circle</v-icon>
              <span v-if="form.successMessage">{{ form.successMessage }}</span>
              <v-alert v-if="form.successMessage" border="top" colored-border type="info" elevation="2" class="mt-2">

                ¡Gracias por completar tu examen! <br>
                A continuación, te presentamos tus resultados: <br><br>

                Total de puntos: <strong> {{ form.answerTotal }}</strong> <br>
                Promedio de puntos: <strong> {{ form.answerAverage }}</strong> <br>
                Resultado: <strong> {{ form.scaleResult }}</strong> <br>

              </v-alert>
            </v-container>
          </v-form>
        </v-col>

        <!-- <v-footer fixed padless>
          <v-col class="text-center" cols="12" style="font-size: 9px;">
            <strong>{{ new Date().getFullYear() }} — Develop by <a
                href="https://www.linkedin.com/in/fernandoortizmello/" target="_blank">Fernando</a></strong>
          </v-col>
        </v-footer> -->

      </v-container>
    </v-app>
  </div>

  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data() {
        return {
          form: {
            answers: Array(),
            scriptUrl: 'https://script.google.com/macros/s/AKfycbyc_-hf_DVv4DGwZeQqbCBvTJH6LpXysnhje_BaRbg4_dpVbysHhixMN6p8HMnudhev/exec',
            loading: false,
            successMessage: '',
            scaleResult: '',
            sessionName: '',
            questions: [
              {
                question: "Quando está triste ou estressado, como costuma lidar com as emoções?",
                answers: [
                  { text: "Opto por fazer alguma atividade que me distraía e me traga prazer", points: 1 },
                  { text: "Tento fugir da comida me distrair, porém acabo comendo um pouco", points: 2 },
                  { text: "Como algo imediatamente, pois sei que só a comida pode me confortar", points: 3 },
                ]
              },
              {
                question: "Como você descreveria sua relação com a comida?",
                answers: [
                  { text: "Como apenas quando estou com fome e opto por comida saudável.", points: 1 },
                  { text: "Como qualquer alimento e em excesso por emoção ou tédio", points: 2 },
                  { text: "Como apenas quando estou com fome, mas como qualquer tipo de alimento", points: 3 },
                ]
              },
              {
                question: "Quando se depara com um alimento tentador, qual é sua reação inicial?",
                answers: [
                  { text: "Resistir e não comer", points: 1 },
                  { text: "Comer um pouco e parar", points: 2 },
                  { text: "Comer em grande quantidade", points: 3 },
                ]
              },
              {
                question: "Como você se sente após comer uma refeição grande?",
                answers: [
                  { text: "Satisfeito e confortável", points: 1 },
                  { text: "Culpado ou arrependido", points: 2 },
                  { text: "Desconfortável e pesado, mas sem culpa.", points: 3 }
                ]
              },
              {
                question: "Quando está entediado, o que costuma fazer?",
                answers: [
                  { text: "Maioria das vezes procuro algo para comer", points: 1 },
                  { text: "Busco atividades físicas, criativas ou produtivas", points: 2 },
                  { text: "Relaxo e descanso", points: 3 }
                ]
              },
              {
                question: "Como é sua relação com as porções de comida?",
                answers: [
                  { text: "Controlada e consciente", points: 1 },
                  { text: "Difícil de controlar", points: 2 },
                  { text: "Varia dependendo do dia", points: 3 }
                ]
              },
              {
                question: "Quando está com fome entre as refeições, o que costuma comer?",
                answers: [
                  { text: "Frutas ou lanches saudáveis", points: 1 },
                  { text: "Geralmente opto por comidas nao saudáveis - como fast food, doces e pizzas.", points: 2 },
                  { text: "Não costumo comer sem fome física", points: 3 }
                ]
              },
              {
                question: "Como você lida com a sensação de saciedade durante uma refeição?",
                answers: [
                  { text: "Paro de comer quando estou satisfeito", points: 1 },
                  { text: "Continuo comendo até me sentir muito cheio", points: 2 },
                  { text: "Não percebo a sensação de saciedade", points: 3 }
                ]
              },
              {
                question: "Como você se sente em relação ao seu peso e aparência?",
                answers: [
                  { text: "Satisfeito e confiante", points: 1 },
                  { text: "Inseguro ou insatisfeito", points: 2 },
                  { text: "Não penso muito sobre isso", points: 3 }
                ]
              },
              {
                question: "Você costuma planejar suas refeições com antecedência?",
                answers: [
                  { text: "Sim, sempre faço um planejamento", points: 1 },
                  { text: "Às vezes, dependendo da semana", points: 2 },
                  { text: "Não, costumo decidir na hora", points: 3 }
                ]
              },
              {
                question: "Você mente para você mesma? Constantemente traz justificativas para se convencer a sair da dieta? SEJA SINCERA!",
                answers: [
                  { text: "Não, eu nunca saio da dieta, sempre me convenço que me alimentar bem é o melhor para mim.", points: 1 },
                  { text: "Um pouco, é uma vozinha que às vezes vence, mas na maioria das vezes eu consigo vencer e me mantenho firme na dieta.", points: 2 },
                  { text: "Sim, existe uma vozinha que está sempre me trazendo justificativas convincentes e ela é sempre mais forte do que eu.", points: 3 }
                ]
              },
              {
                question: "Você deixa de sair ou de encontrar alguém por não estar se sentindo bem com seu corpo? SEJA SINCERA!",
                answers: [
                  { text: "Nunca, eu me sinto muito bem com meu corpo.", points: 1 },
                  { text: "Acontece às vezes, mas logo passa e eu saio feliz e leve.", points: 2 },
                  { text: "Acontece sempre, algumas vezes eu desmarco e outras eu até vou, mas me sinto péssima.", points: 3 }
                ]
              },
            ],
            valid: false,
            name: '',
            age: null,
            // ageOptions: Array.from({ length: 82 }, (value, index) => index + 18),
            ageOptions: [
              '0-17 años',
              '18-24 años',
              '25-34 años',
              '35-44 años',
              '45-54 años',
              '55-64 años',
              '65+ años'
            ],
            weight: '',
            email: '',
          },
          rules: {
            minChars: value => value.length >= 3 || 'Mínimo 3 caracteres',
            isEmail: value => /.+@.+\..+/.test(value) || 'Insira um endereço de email válido',
          }
        };
      },
      computed: {
        sessionName() {
          let sessionName = String(new URLSearchParams(window.location.search).get('name'));
          this.form.sessionName = sessionName;
          return (sessionName == 'null') ? false : sessionName;
        },
      },
      methods: {
        isDisabled() {
          return false
          // return !this.form.valid || Boolean(this.form.answers.some((value) => value == 0))
        },
        onChange() {
          isDisabled() ? this.form.valid = false : this.form.valid = true
        },
        submitForm() {
          console.table('Answers:', this.form.answers);
          
          // if (!this.form.valid) {
          //   this.form.successMessage = 'Por favor, rellena el formulario correctamente!';
          //   return;
          // }
          const formData = new FormData();
          let total = Number(0);
          this.form.answers.forEach((answer, index) => {
            index = index + 1;
            formData.append(`answer${index}`, answer.points);
            total += Number(answer.points);
          });
          
          if (total < 12) {
            this.form.successMessage = 'Por favor, rellena el formulario correctamente!';
            console.table('Total Points:', total);
            return;
          }

          this.form.loading = true;
          formData.append('Nome', this.form.name);
          formData.append('Email', this.form.email);
          formData.append('Peso', this.form.weight);
          formData.append('answerTotal', total);

          let scaleResult = null;
          if (total <= 16) scaleResult = 'MENTE MAGRA';
          if (total >= 17 && total <= 26) scaleResult = 'MENTE GORDINHA';
          if (total >= 27) scaleResult = 'MENTE GORDA';
          formData.append('scaleResult', scaleResult);

          console.table('Submitting formData:', ...formData);

          fetch(this.form.scriptUrl, { method: 'POST', body: formData })
            .then(response => response.json())
            .then(data => {
              this.form.successMessage = '¡Enviado con éxito! ';
              this.form.scaleResult = scaleResult;
              this.form.answerTotal = total;
              this.form.loading = false;

              this.form.name = '';
              this.form.email = '';
              this.form.weight = '';
              this.form.answers.forEach((answer, index) => this.form.answers[index] = 0);
            })
            .catch(error => {
              console.error('Error submitting form:', error);
              this.form.loading = false;
            })
        },
      },
    });
  </script>
</body>

</html>